body {
  background: #2d2d2d;
  color: #fff;
}

.App {
  text-align: center;
}

.title {
  font-size: 28px;
  color: #fff;
}

.helloMsg {
  float: left;
  font-size: 16px;
}

.sendMsgBox {
  bottom: 0;
  margin: 10px;
  width: 100%;
  background: #ddd;
  border-radius: 20px;
}

.yoo {
  margin-top: auto;
}

.messages {
  color: #2d2d2d;
  width: fit-content;
  margin: 10px;
  margin-top: 1rem;
}

.userMessage {
  margin-left: auto;
  color: #2d2d2d;
}

.userMsg {
  background: #dca104;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.guestMsg {
  background: #dddddd;
  color: #2d2d2d;
  padding: 10px;
  border-radius: 10px;
}


