* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2d2d2d;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

.App {
  text-align: center;
}

.title {
  font-size: 28px;
  color: #fff;
  margin-top: 5px;
}

.helloMsg {
  float: left;
  font-size: 16px;
}

.sendMsgBox {
  width: 100%;
  background: #ddd;
  border-radius: 20px;
  margin-bottom: 5px;
  display: flex;
}

.msgInput {
  flex: 1;
  font-size: 16px;
}

.sendIcon {
  flex: 0;
}

.topSection {
  height: 10vh;
}

.msgSection {
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important;  /* IE 10+ */
}

.bottomSection {
  height: 10vh;
}

.messages {
  color: #2d2d2d;
  width: fit-content;
  margin: 10px;
}

.userMessage {
  margin-left: auto;
  color: #2d2d2d;
}

.userMsg {
  background: rgb(10,167,196);
  background: linear-gradient(90deg, rgba(10,167,196,1) 32%, rgba(10,196,156,1) 94%);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.guestMsg {
  background: #dddddd;
  color: #2d2d2d;
  padding: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  display: none !important;
}

.loading {
  margin-top: 35vh;
}

.username {
  color: rgb(1, 125, 147);
}

.msgTime {
  color: #2d2d2d;
  font-size: 10px;
}

.helpMsg {
  font-size: 12px;
}

.helloUser {
  font-size: 12px;
  margin-left: auto;
}

.intro {
  display: flex;
}

@media (min-width: 369px) and (max-width: 576px) {
  .topSection {
    height: 10vh;
  }

  .msgSection {
    height: 80vh;
  }

  .bottomSection {
    height: 10vh;
  }

  .title {
    font-size: 25px;
    color: #fff;
    margin-top: 5px;
  }

  .helpMsg {
    margin-top: 3px;
  }

  .helloUser {
    margin-top: 3px;
  }
}

@media (max-width: 368px) {
  .title {
    font-size: 25px;
    color: #fff;
    margin-top: 5px;
  }

  .topSection {
    height: 15vh;
  }

  .msgSection {
    height: 75vh;
  }

  .bottomSection {
    height: 10vh;
  }

  .helpMsg {
    margin-top: 3px;
    font-size: 11px;
  }

  .helloUser {
    margin-top: 3px;
    font-size: 11px;
  }
}